@font-face {
    font-family: space-mono;
    src: url(https://fonts.google.com/specimen/Space+Mono);
}
@font-face {
    font-family: plus-jakarta-sans;
    src: url(https://fonts.google.com/specimen/Plus+Jakarta+Sans);
}

html, body {
    background: url(assets/img/background.jpg), #0D0D0D;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    overflow-x: hidden;
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.nav-bar {
    background-color: #0D0B1A;
    overflow-x: hidden;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    border-color: #5E239D;
}

.nav-bar a {
    float: right;
    color: #EDEDED;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-size: 17px;
    font-family: space-mono, monospace;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
}

.nav-bar a:not(#icon):hover {
    background-color: 	rgb(224, 170, 255, 0.5);
    transform: scale(1.0); 
    color: #EDEDED;
}

.nav-bar #icon {
    float: left;
    color: #EDEDED;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-size: 17px;
}

main {
    margin-top: 155px;
}

.container {
    height: 30vw;
    width: 100vw;
    padding: 10px;
}

#welcome {
    display: flex;
}

#apod-page {
    display: flex;
}

.column-container {
    flex: 50%;
    flex-direction: column;
    padding: 10px;
    color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
    text-align: center;
}

.column-container h1, h2, h3, h4, h5, h6 {
    color: #EDEDED;
    font-family: space-mono, monospace;
}

.column-container p, a, b {
    color: #EDEDED;
    font-family: plus-jakarta-sans, monospace;
}

.column-container h4 {
  margin-top: 2px;
  margin-bottom: 2px;
  line-height: 1.5; /* optional: keeps text compact but readable */
}

.image-container {
    width: auto;
    max-width: 100%;
    max-height: 30vw;
    height: auto;
    display: inline-block;
    border: thin solid #5E239D;
    border-radius: 10px;
    object-fit: contain;
}

.buttons-container button {
    background-color: rgba(224, 170, 255, 0.1);
    border: none;
    color: #EDEDED;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 13px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.buttons-container button:hover {
    background-color: rgba(224, 170, 255, 0.5);
    transform: scale(1.1); 
}

.buttons-container {
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.desc-container {
    flex: 50%;
    flex-direction: column;
    padding: 10px;
    color: #EDEDED;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 30vw;
      
}

.desc-container h1, h2, h3, h4, h5, h6 {
    color: #EDEDED;
    font-family: space-mono, monospace;
    text-align: center; 
}

.desc-container p, a {
    color: #EDEDED;
    font-family: plus-jakarta-sans, monospace;
}

.desc-container {
    flex: 50%;
    flex-direction: column;
    padding: 10px;
    color: #EDEDED;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30vw;
      
}


.desc-buttons-container button {
    background-color: rgba(224, 170, 255, 0.1);
    border: none;
    color: #EDEDED;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 13px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.desc-buttons-container button:hover {
    background-color: rgba(224, 170, 255, 0.5);
    transform: scale(1.1); 
}

.desc-buttons-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.gallery-container {
    margin-top: 155px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 10px; /* base unit for the masonry effect */
    gap: 20px;
    padding: 20px 40px;
    height: 5vw;
}

.gallery-item {
    background-color: rgba(224, 170, 255, 0.05);
    border: thin solid #5E239D;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    width: 100%;
    max-width: 400px;
    max-height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-row-end: span 30;
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;
}

.gallery-item:hover {
    transform: scale(1.03);
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    aspect-ratio: auto; 
    border-bottom: thin solid #5E239D;
    flex-grow: 1; 
    text-decoration: none;

}

.gallery-info {
    color: #EDEDED;
    font-family: plus-jakarta-sans, monospace;
    padding: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(13, 11, 26, 0.8);
}

footer {
    padding-top: 155px;
}
.footer {
    color: #EDEDED;
    width: 100vw;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 0.9px;
    font-family: plus-jakarta-sans, monospace;
    border-top-style: solid;
    border-top-width: thick;
    border-radius: 10px;
    border-top-color: #EDEDED;
    
}

::-webkit-scrollbar {
  width: 10px;
  max-height: 10px;
}

::-webkit-scrollbar-track {
 display: none;
}

::-webkit-scrollbar-thumb {
  background: #0D0B1A;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #efe;
} 

.calendar-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 10px; 
    gap: 20px;
    padding: 20px 40px;
    height: 5vw;

}

.calendar-year {
        text-align: center;
    color: #EDEDED;
    font-family: space-mono, monospace;
}

.calendar-item {
    background-color: rgba(224, 170, 255, 0.05);
    border: thin solid #5E239D;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    width: 100%;
    max-width: 400px;
    max-height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-row-end: span 30;
    position: relative;
    overflow: hidden;
}

.calendar-month {
    color: #EDEDED;
    font-family: plus-jakarta-sans, monospace;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(13, 11, 26, 0.8);
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 1px; 
    column-count: 7;
    gap: 10px;
    padding: 20px 40px;
    height: 5vw;
    color: #EDEDED;
}